<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>{{ title }}</h2>

    <h3>Available:</h3>
    <ul class="small-block-grid-2">
      <li ng-repeat="noot in noots">
        <a ng-click="add(noot.name)">{{ noot.name }}</a>
      </li>
    </ul>

    <h3>My Stack:</h3>
    <ul class="small-block-grid-2">
      <li ng-repeat="noot in stack">
      <span ng-click="remove(noot.name)">
        <a>{{ noot.name }}<img class="icon" src="/img/icons/png/minus2.png"></a>
      </li>
    </ul>
  </div>
</div>
